# DATABASE_DRIVER="mongodb"
# DATABASE_URL="mongodb://localhost:27017/prac"
# DEBUG=*


DATABASE_DRIVER="postgres"
DATABASE_URL="postgresql://localhost"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="student"
DATABASE_PASSWORD="student"
DATABASE_DATABASE="film"